.card-lists-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 2rem;
}

.card-list-container {
  width: 100%;
}

.card-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 1rem;
}
@media (max-width: 1500px) {
  .card-lists-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .card-lists-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .card-lists-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-lists-container {
    grid-template-columns: 1fr;
  }
}
.card-list-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-right: 0.5rem;
}
.grouping-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.grouping-info > img {
  height: 1rem;
  width: 1rem;
}

.grouping-info > .value {
  font-weight: bold;
}
.grouping-info > .count {
  color: grey;
}

.action-button-containers {
  display: flex;
  gap: 0.5rem;
}
